.resultado_busqueda{
position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -0%);
    width: auto;
    height: auto;
    max-height: 350px; /* Establece la altura máxima para mostrar la barra de desplazamiento */
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}

/*CSS del Replit*/

body {
    background-color: #51D1F6;
    padding: 5%;
  }
  
  #toggle-agregar-servicio {
    color: white;
  }

  #toggle-cambiar-precio{
    color: white;
  }
  
  .input-rounded {
    border: 1px solid #51D1F6;
    border-radius: 0;
  }
  
  .form-select-rounded {
    border: 1px solid #51D1F6;
    border-radius: 0;
  }
  
  .boton{
    background-color:white;
    color: black;

  }
  .boton:hover{
  background-color: rgb(228, 228, 228);
  color: black;  
  }
  
  .button-like-text {
      cursor: pointer;
      color: #51D1F6;
      font-weight: bold;
      text-decoration: none;
    }
  
  .toggle-button {
        cursor: pointer;
        color: #51D1F6;
        font-weight: bold;
        text-decoration: none;
      }

.imagen{
  height: 30px;
  width: 30px;
  filter: brightness(200);
}

.editar{
    background-color:white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 2px 8px;
    /* font-weight: bold; */
}

.editar:hover{
    background-color: rgb(228, 228, 228);
    color: black;  
    }

.tabla{
    border-right: 15px;
    background: white;
    width: 100%; /* Ancho de la tabla al 100% del contenedor */
    overflow: auto; /* Barra de desplazamiento horizontal si es necesario */
    border-right: 15px solid transparent; /* Borde derecho transparente de 15px */
    border-collapse: collapse; 
    font-size: 1.5vw;
}