body {
  background-color: #4FC3F7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: Roboto;
}

.cuadrado {
  width: 90%;
  max-width: 800px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  color: white;
  background: #4FC3F7;
  border-radius: 6px;
}

.cuadrado1 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2%;
  color: black;
  background: white;
  border: 3px solid #4fc3f7;
  border-radius: 10px;
  padding: 2%;
}

h1 {
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  /* Estilos para pantallas de hasta 767px de ancho (como dispositivos móviles) */
  .cuadrado {
      width: 100%;
      padding: 5%;
  }

  .cuadrado1 {
      margin-top: 5%;
      padding: 5%;
  }

  h1 {
      font-size: 1.5rem;
  }

  button {
      font-size: 1rem;
  }
}


tr:nth-child(even) {
    background-color: #E0E0E0; /* Cambia el color de fondo como desees */
  }


tr:nth-child(odd) {
    background-color: #ffffff; /* Cambia el color de fondo como desees */
  }

  table {
    border-collapse: collapse; /* Combinar bordes de celdas para una apariencia más limpia */
  }
  
  td, th {
    border: none; /* Eliminar bordes de las celdas */
    padding: 10px; /* Agrega espaciado interior de 10px, ajusta según tus preferencias */
    text-align: center;
  }
  

  button{
    background-color: #008FBC;
  border: none;
  color: white;
  padding: 13px 65px;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  }
  
  
  .total-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    font-family: 'Hind Madurai', sans-serif;
}

.total-label {
    padding: 5px;
    width: 100px;
    font-weight: bold;
}

.total-price {
    color: #ffffff;
    text-align: right;
    background-color:  #7EDBF9;
    padding: 5px;
    font-weight: bolder;
}

/* Estilos para el enlace "Ir a Principal" */
/* Estilos para el enlace "Ir a Principal" */
#redirigirPagina {
  float: right; /* Alinea el enlace a la derecha */
  margin-left: auto; /* Agrega margen izquierdo automático para alinear a la derecha */
  font-size: 1.5rem; /* Tamaño de fuente */
  text-decoration: none; /* Elimina el subrayado predeterminado del enlace */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  color: white; /* Color del texto */
  background-color: #008FBC;
  border: none;
  left: 42px;
  color: white;
 
  padding: 13px 65px;
}
