body {
  background-color: #4FC3F7 !important;
  transition:all 1s ;
}

.iniciar-imagen {
  background-color: #4FC3F7 !important;
  border-radius: none !important;
}

.iniciar-usuario,
.iniciar-contrasenia {
  background-color: #4FC3F7 !important;
  border-radius: none !important;
}

.placeholder {
  cursor: text;
}

.placeholder::placeholder {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: semi-bold;
  color: #ffffff !important;
}

.text {
  color: #4FC3F7 !important;
  background: white !important;
}

.focus-none:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px; 
  background-image: url("../IMG/ojo_cerrado.png"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  border: none; 
  cursor: pointer;
}

.checkbox-hidden {
  display: none;
}

.checkbox-custom {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  top: 30px;
  left: 95%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../IMG/esconder.png');
  background-size: cover;
  cursor: pointer;
  filter: brightness(250%);
  z-index: 2;
}

.checkbox-custom.checked {
  /* Estilo para el checkbox seleccionado */
  background-image: url('../IMG/espectaculo.png');
}

.btn {
  transition: transform 1s ease; /* Configurar la transición para la propiedad transform en 1 segundo con una función de aceleración (ease) */
}

.btn:hover {
  transform: scale(1.05);
}

