html {
    height: 100%;
    width: 100%;
  }
  
  .titulo {
      color: white;
    }
  
  body{
    background-color: #4FC3F7;
  }
  /*.titulos{
  color:#51D1F6;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #51D1F6; /* Color y grosor de la línea 
  padding-bottom: 5px;  Espacio debajo de la línea 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }*/
  
  .deplegable{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .rectanguloRubro {
    display: flex;
    align-items: center;
    width: 90%;
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .btn_in{
    color: #000000 !important;
    background: #EFF0F0 !important;
  }
  
  .info_rub{
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    flex: 1;
    font-size: 1em;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  
  .custom-rounded{
    border-radius:15px;
  }
  
  .custom-height{
    height:40px;
  }
  
  .nombre-rubro {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    background-color: #4FC3F7; 
    border-radius: 10px; 
    padding: 10px;
  }
  
  .nombre-rubro p {
    margin: 5px 0;
  }
  
  .tabla-redondeada {
    border-collapse: collapse;
    width: 100vw;
    overflow: auto;
    border-right: 15px;
  }
  
  .tabla-redondeada tr {
    border-bottom: 1px solid #ccc;
  }
  
  .tabla-redondeada tr:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .tabla-redondeada tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .tabla-redondeada td {
    padding: 8px;
    text-align: center;
  }
  
  
  .table{
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
  }
  .table th, .table td {
    border:none;
  }
  
  .aa {
    background-color: #00bfff; /* Fondo celeste */
    border-radius: 50% !important; /* Bordes redondeados */
    /*border-collapse: separate !important*/;
  }
  
  .tabla-redondeada tr {
    position: relative;
  }
  
  
  
    .input-rounded {
      border: 1px solid #51D1F6;
      border-radius: 0;
    }
    
    .form-select-rounded {
      border: 1px solid #51D1F6;
      border-radius: 0;
    }
  
  .container-datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  /*.datos {
    display: inline-block;
    background-color: #51D1F6; /* Fondo celeste *
    padding: 15px 100px; 
    border-radius: 20px;
    border:none;
    text-align: center;
    font-size: 20px; 
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
  }
  
  .enviar{
    display: inline-block;
    background-color: #51D1F6; /* Fondo celeste *
    padding: 10px 50px; 
    border-radius: 20px;
    border:none;
    text-align: center;
    font-size: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  }*/
  
  /*.botoncito{
    color: #ffffff !important;
    text-decoration: none !important; 
  }*/
  
  /* Fondo celeste 
    .boton{
      background-color:#51D1F6;
      color: white;
    }
    .boton:hover{
    background-color: #29a1ce;
    color: white;  
    }
    
    .button-like-text {
        cursor: pointer;
        color: #51D1F6;
        font-weight: bold;
        text-decoration: none;
      }
    
    .toggle-button {
          cursor: pointer;
          color: #51D1F6;
          font-weight: bold;
          text-decoration: none;
        } */
  
  .boton{
      background-color:#329ce2;
      color: white;
    }
    .boton:hover{
    background-color: #248acd;
    color: white;  
    }
    
/*html {
  height: 100%;
  width: 100%;
}

.titulo {
    color: #51D1F6;
  }

/*.titulos{
color:#51D1F6;
font-family: 'Roboto', sans-serif;
border-bottom: 2px solid #51D1F6; /* Color y grosor de la línea 
padding-bottom: 5px;  Espacio debajo de la línea 
width: 90%;
margin-left: auto;
margin-right: auto;
}*/

.deplegable{
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.rectanguloRubro {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #E0E0E0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.btn_in{
  color: #000000 !important;
  background: #EFF0F0 !important;
}

.info_rub{
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
  font-size: 1em;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.custom-rounded{
  border-radius:15px;
}

.custom-height{
  height:40px;
}

.nombre-rubro {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
  background-color: #4FC3F7; 
  border-radius: 10px; 
  padding: 10px;
}

.nombre-rubro p {
  margin: 5px 0;
}

.tabla-redondeada {
  border-collapse: collapse;
  width: 100vw;
  overflow: auto;
  border-right: 15px;
}

.tabla-redondeada tr {
  border-bottom: 1px solid #ccc;
}

.tabla-redondeada tr:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabla-redondeada tr:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tabla-redondeada td {
  padding: 8px;
  text-align: center;
}


.table{
  border-collapse: collapse;
  
  text-align: center;
}
.table th, .table td {
  border:none;
}

.aa {
  background-color: #00bfff; /* Fondo celeste */
  border-radius: 50% !important; /* Bordes redondeados */
  /*border-collapse: separate !important*/;
}

.tabla-redondeada tr {
  position: relative;
}



  .input-rounded {
    border: 1px solid #51D1F6;
    border-radius: 0;
  }
  
  .form-select-rounded {
    border: 1px solid #51D1F6;
    border-radius: 0;
  }

.container-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/*.datos {
  display: inline-block;
  background-color: #51D1F6; /* Fondo celeste *
  padding: 15px 100px; 
  border-radius: 20px;
  border:none;
  text-align: center;
  font-size: 20px; 
  margin-bottom: 40px;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.enviar{
  display: inline-block;
  background-color: #51D1F6; /* Fondo celeste *
  padding: 10px 50px; 
  border-radius: 20px;
  border:none;
  text-align: center;
  font-size: 20px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}*/

/*.botoncito{
  color: #ffffff !important;
  text-decoration: none !important; 
}*/

/* Fondo celeste 
  .boton{
    background-color:#329ce2;
    color: white;
  }
  .boton:hover{
  background-color: #329ce2;
  color: white;  
  }
  
  .button-like-text {
      cursor: pointer;
      color: #51D1F6;
      font-weight: bold;
      text-decoration: none;
    }
  
  .toggle-button {
        cursor: pointer;
        color: #51D1F6;
        font-weight: bold;
        text-decoration: none;
      } */

.boton{
    background-color:#51D1F6;
    color: white;
  }
  .boton:hover{
  background-color: #29a1ce;
  color: white;  
  }

  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8bcc66;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #329ce2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #329ce2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 3px solid white;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-letras{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  padding-top: 2px;
}

#ARS{
  padding-right: 22px;
}

#USD{
  padding-left: 24px;
}

#btn_datos {
  position: fixed;
  top: 90%;
  left:10px;
  z-index:9999;
}


/* Estilos para la tabla */
/* Estilos generales para la tabla */
#results {
  width: 100%;
  background-color: white; /* Fondo blanco para la tabla */
  border: 1px solid #ccc; /* Borde gris claro */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
}

/* Estilos para filas pares (gris claro) */
#results tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Gris claro */
}

/* Estilos para filas impares (blanco) */
#results tbody tr:nth-child(odd) {
  background-color: white; /* Blanco */
}

/* Estilos para las celdas */
#results th, #results td {
  padding: 8px;
  border: 1px solid #ccc; /* Borde gris claro */
  white-space: nowrap; /* Evita que el texto largo se desborde de las celdas */
}

/* Estilos para el encabezado de la tabla */
#results th {
  background-color: #333; /* Fondo gris oscuro para el encabezado */
  color: white; /* Texto blanco para el encabezado */

}

/* Estilos para el checkbox en la primera columna */
#results td:first-child input[type="checkbox"] {
  margin: 0;
  display: block;
  margin: 0 auto;
  text-align: center;
}

  


/* Media Query para pantallas pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 767px) {
  /* Ajustar el tamaño de fuente y el espaciado para hacerlo más legible en pantallas pequeñas */
  #results th, #results td {
    font-size: 14px;
    padding: 6px;
  }

  /* Agregar un margen inferior para separar las filas en dispositivos móviles */
  #results tbody tr {
    margin-bottom: 10px;
  }
 
}



.text {
  color: #4FC3F7 !important;
  background: white !important;
}

@media (min-width: 1000px) {
  .tamanio-ajustable{
    width: 25%;
  }

  }

  @media (max-width: 999px) {
    .tamanio-ajustable{
      width: 30%;
    }
  
  }
  
  ol, ul {
    padding-left: 0rem !important;
  }

  html::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  html::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  html::-webkit-scrollbar-thumb:hover {
    background: #e0dada;
    box-shadow: #e0dada 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  html::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  /* VENTANA RESULTADOS */
  #results::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  #results::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  #results::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
    box-shadow: #5c5c5c 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  #results::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }